/* normalizing */ 
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color:black;
}

/* welcome */
.container {
    text-align: center;
    margin-top: 10%;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-style: italic;
}

.header {
    padding-top: 1%;
}

/* the game */
.result {
    font-size: 1.5rem;
    font-style: bold;
}

footer {
    margin-top: 2.5rem;
    padding-bottom: .3%;
}

/* animations */

@keyframes anime {
    0% {color: rgb(2, 165, 2)}
    25% {color: blue}
    50% {color: rgb(121, 0, 121)}
    75% {color: red}
    100% {color: yellow}
}

.result {
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}